body{
  background-color:rgb(186, 176, 176);
}

.NavBar{
  list-style-type: none;
  margin: 0;
  margin-top: 0;
  padding: 0;
  background-color: brown;
  font-size: 17vw;
  justify-content: center;
  display: flex;
  color: white;
  overflow: hidden;
  width: 99,5xvw;
  height: 10vw;
  float: inline-start;
  font-family: 'Montserrat', sans-serif;
}

nav ul li {
  list-style: none;
  float: left;
  margin: 8px;
  padding: 10px;  
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: .5s;
}

li a:hover{
 background-color: black;
}


.fotoInicio{
    width: 650px;
    margin-left: 300px;
    box-shadow: 1, 1, 1, 0.7px;
}

.titulo {
  font-size: 100px;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer{
  font-family: 'Gluten', cursive;
  margin-top: 20px;
  text-align:left;
  padding: 50px;
  background-color: black;
  color: black;
}
